<div class="text-center">
  <% if @current_user.admin %>
    <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %>"><%= value %></p>
    <% end %>
    <p id="notice"><%= notice %></p>

    <h1>Users</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Admin</th>
          <th class="text-center">Status</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to (user.admin ? "Yes" : "No"), change_admin_status_user_path(user) %></td>
            <td><%= link_to (user.approved ? "Approved" : "Pending"), approve_user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br><br><p>You need to be an admin to view users!</p>
  <% end %>

  <br>
</div>
