<div class="text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Buyer Name:</strong>
    <%= @order.buyer_name %>
  </p>

  <p>
    <strong>Buyer Email:</strong>
    <%= @order.buyer_email %>
  </p>

  <p>
    <strong>Recipient Name:</strong>
    <%= @order.recipient_name %>
  </p>

  <p>
    <strong>Recipient Address:</strong>
    <%= @order.recipient_address %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @order.date %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= @order.items.html_safe %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @order.message %>
  </p>

  <p>
    <strong>Anonymous:</strong>
    <% if @order.anonymous %>
      Yes
    <% else %>
      No
    <% end %>
  </p>

  <p>
    <strong>Venmo Username:</strong>
    <%= @order.venmo_username %>
  </p>

  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>
